.security {
    background-image: url('../../Assets/IMG2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 504px;
    height: 504px;

}

.Bureau button {
    color: var(--Noir-Noir, #2B2B2B);
    text-align: center;
    /* Text/Mini texte */
    font-family: Orbitron;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    /* 171.429% */
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    border-top: 1px solid var(--noir-noir-12, rgba(43, 43, 43, 0.12));
    border-right: 1px solid var(--noir-noir-12, rgba(43, 43, 43, 0.12));
    border-bottom: 3px solid var(--noir-noir-12, rgba(43, 43, 43, 0.12));
    border-left: 1px solid var(--noir-noir-12, rgba(43, 43, 43, 0.12));
}

.Bureau h3 {


    color: var(--Noir-Noir, #2B2B2B);


    font-family: Orbitron;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;

    text-transform: uppercase;
}

.Bureau p {


    color: var(--noir-noir-70, rgba(43, 43, 43, 0.70));
    /* Text/Grand texte */
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 177.778% */
}