.FAQ {
    margin-top: 150px;
}

.FAQ h3 {
    color: var(--Noir-Noir, #2B2B2B);
    font-family: Orbitron;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 140% */
    text-transform: uppercase;
}

.iterroSection {

    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}

.FAQ h2 {
    color: var(--Noir-Noir, #2B2B2B);
    font-family: Orbitron;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    text-transform: uppercase;
}


@media screen and (max-width: 770px) {
    .FAQ h3 {
        color: var(--Noir-Noir, #2B2B2B);
        text-align: center;
        /* Titres/H1 */
        font-family: Orbitron;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
        /* 120% */
        text-transform: uppercase;
    }
}

.FAQ .accordion-button {
    color: var(--Noir-Noir, #2B2B2B);
    font-family: Orbitron;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    text-transform: uppercase;
}

.FAQ .accordion-body {
    color: var(--Noir-Noir, #2B2B2B);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 177.778% */
}

.accordion-icon::after {
    content: "+";
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    opacity: 0.5;

}

.accordion-button[aria-expanded="true"] .accordion-icon::after {
    content: "-";
}

.accordion-button:not(.collapsed)::after {
    display: none;
}

.accordion-button::after {
    display: none;
}

.accordion-item {
    display: flex;
    padding-bottom: 56px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;


}

.accordion-button,
.accordion-item,
.accordion {
    background-color: #EDF0F3 !important;
}

.accordion-item {
    border-bottom: 1px solid var(--noir-noir-12, rgba(43, 43, 43, 0.12));
    border-top: none;
    border-right: none;
    border-left: none;

}