.section1 h3 {
    color: var(--Noir-Noir, #2B2B2B);
    text-align: center;
    font-family: Orbitron;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 140% */
    text-transform: uppercase;
    margin: 100px;
}

.section1 {
    margin-top: 150px;
    text-align: center;
}

.section1 button {
    margin-top: 100px;
    margin-bottom: 100px;
    color: var(--Noir-Noir, #2B2B2B);
    text-align: center;
    /* Text/Mini texte */
    font-family: Orbitron;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    /* 171.429% */
    text-transform: uppercase;
}